* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@keyframes hastate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
